Repository robertlinde/react-tour-kit: changes, and which lint-staged commands are due for each by the changed paths.
All: xo --fix, prettier --write

chore: fix lint errors
  .eslintignore
  package.json
  src/react-native-platform/hooks/use-tour-target.ts
Due: xo --fix, prettier --write

chore: fix lint errors part 2
  .eslintignore
  package.json
Due: prettier --write

chore: fix lint errors part 3
  package.json
  xo.config.ts
Due: prettier --write

chore: fix lint errors part 4
  demos/react-native/App.tsx
  demos/react-native/index.ts
  demos/react/src/App.css
  demos/react/src/App.tsx
  demos/react/src/index.css
  demos/react/src/main.tsx
  demos/react/vite.config.ts
  package.json
  src/react-native-platform/components/index.ts
  src/react-native-platform/components/tour-overlay.tsx
  src/react-native-platform/components/tour-tooltip.tsx
  src/react-native-platform/hooks/index.ts
  src/react-native-platform/hooks/use-tour-target.ts
  src/react-native-platform/index.ts
  src/react-native-platform/platform-adapter.ts
  src/react-native-platform/tour-provider.tsx
  src/react-native.ts
  src/react-platform/components/index.ts
  src/react-platform/components/tour-overlay.tsx
  src/react-platform/components/tour-tooltip.tsx
  src/react-platform/index.ts
  src/react-platform/platform-adapter.ts
  src/react-platform/tour-provider.tsx
  src/react.ts
  src/shared/context/index.ts
  src/shared/context/tour-context.ts
  src/shared/hooks/use-tour.hook.ts
  src/shared/index.ts
  src/shared/utils/calculate-tooltip-position.util.ts
  xo.config.ts
Due: xo --fix, prettier --write

chore: rename package
  README.md
  demos/react-native/package.json
  demos/react/package.json
  package.json
Due: prettier --write

chore: update package name
  README.md
  demos/react-native/App.tsx
  demos/react-native/package-lock.json
  demos/react-native/package.json
  demos/react/package-lock.json
  demos/react/package.json
  demos/react/src/App.tsx
  demos/react/src/main.tsx
  package.json
  src/react-native.ts
  src/react.ts
Due: xo --fix, prettier --write

fix: type error
  demos/react-native/tsconfig.json
  package.json
  src/react-native-platform/hooks/use-tour-target.ts
Due: xo --fix, prettier --write

fix: typo
  demos/react-native/package-lock.json
  demos/react-native/package.json
  demos/react/package.json
  demos/react/src/main.tsx
  package-lock.json
  package.json
Due: prettier --write

fix: version mismatches
  demos/react-native/package-lock.json
  demos/react-native/package.json
  demos/react/package-lock.json
  demos/react/package.json
Due: prettier --write

feat: sync versions between github and npm
  demos/react-native/package-lock.json
  demos/react-native/package.json
  demos/react/package-lock.json
  demos/react/package.json
  package-lock.json
  package.json
Due: prettier --write

fix: scroll behavior
  package-lock.json
  package.json
  src/react-platform/platform-adapter.ts
Due: xo --fix, prettier --write

fix: scroll behavior (#2)
  package-lock.json
  package.json
  src/react-platform/platform-adapter.ts
Due: xo --fix, prettier --write

fix: scroll behavior 2
  demos/react-native/package.json
  demos/react/package-lock.json
  demos/react/package.json
  package-lock.json
  package.json
  src/react-native-platform/platform-adapter.ts
  src/react-native-platform/tour-provider.tsx
  src/react-platform/platform-adapter.ts
  src/react-platform/tour-provider.tsx
  src/shared/index.ts
  src/shared/types/index.ts
  src/shared/types/platform-adapter.type.ts
  src/shared/types/rect.type.ts
  src/shared/types/tour-step.type.ts
Due: xo --fix, prettier --write

fix: scroll behavior 2 (#3)
  demos/react-native/package.json
  demos/react/package-lock.json
  demos/react/package.json
  package-lock.json
  package.json
  src/react-native-platform/platform-adapter.ts
  src/react-native-platform/tour-provider.tsx
  src/react-platform/platform-adapter.ts
  src/react-platform/tour-provider.tsx
  src/shared/index.ts
  src/shared/types/index.ts
  src/shared/types/platform-adapter.type.ts
  src/shared/types/rect.type.ts
  src/shared/types/tour-step.type.ts
Due: xo --fix, prettier --write

feat: add i18n options
  package-lock.json
  package.json
  src/react-native-platform/components/tour-tooltip.tsx
  src/react-native-platform/tour-provider.tsx
  src/react-native-platform/types/tour-provider.props.type.ts
  src/react-platform/components/tour-tooltip.tsx
  src/react-platform/tour-provider.tsx
  src/react-platform/types/tour-provider.props.type.ts
  src/shared/index.ts
  src/shared/types/index.ts
  src/shared/types/tour-i18n.type.ts
  src/shared/types/tour-tooltip-props.type.ts
Due: xo --fix, prettier --write

feat: add i18n options (#4)
  package-lock.json
  package.json
  src/react-native-platform/components/tour-tooltip.tsx
  src/react-native-platform/tour-provider.tsx
  src/react-native-platform/types/tour-provider.props.type.ts
  src/react-platform/components/tour-tooltip.tsx
  src/react-platform/tour-provider.tsx
  src/react-platform/types/tour-provider.props.type.ts
  src/shared/index.ts
  src/shared/types/index.ts
  src/shared/types/tour-i18n.type.ts
  src/shared/types/tour-tooltip-props.type.ts
Due: xo --fix, prettier --write

docs: update for i18n
  README.md
  package-lock.json
  package.json
Due: prettier --write

docs: update for i18n (#5)
  README.md
  package-lock.json
  package.json
Due: prettier --write

feat: add type export
  package-lock.json
  package.json
  src/react-native.ts
  src/react.ts
Due: xo --fix, prettier --write

feat: add type export (#6)
  package-lock.json
  package.json
  src/react-native.ts
  src/react.ts
Due: xo --fix, prettier --write

ci(#9): fix ci lint
  .github/workflows/quality.yml
Due: none

ci(#9): fix ci lint (#15)
  .github/workflows/quality.yml
Due: none

test(#7): add e2e tests
  .github/workflows/test.yml
  .gitignore
  e2e/playwright.config.ts
  e2e/tour.spec.ts
  package-lock.json
  package.json
  xo.config.ts
Due: prettier --write

ci(#7): fix import path
  demos/react/src/App.tsx
Due: none

test(#7): maestro rn tests
  .github/workflows/test.yml
  demos/react-native/App.tsx
  demos/react-native/index.ts
  demos/react/src/App.tsx
  maestro/config.yaml
  maestro/navigation.yaml
  maestro/tour.yaml
  package.json
  playwright/playwright.config.ts
  playwright/tour.spec.ts
Due: prettier --write

test(#7): fix tests
  .github/workflows/test.yml
  maestro/config.yaml
  maestro/navigation.yaml
  maestro/tour.yaml
  package.json
  xo.config.ts
Due: prettier --write

test(#7): fix app launch
  maestro/navigation.yaml
  maestro/tour.yaml
  xo.config.ts
Due: none

test(#7): fix tests
  .github/workflows/test.yml
  maestro/navigation.yaml
  maestro/tour.yaml
Due: none

test(#7): fix version mismatches
  demos/react-native/package-lock.json
  demos/react-native/package.json
Due: prettier --write

test(#7): fix tests
  maestro/navigation.yaml
Due: none

test(#7): fix condition
  maestro/navigation.yaml
Due: none

test(#7): remove maestro tests
  .github/workflows/test.yml
  maestro/config.yaml
  maestro/navigation.yaml
  maestro/tour.yaml
  package.json
Due: prettier --write

test(#7): add e2e tests (#16)
  .github/workflows/test.yml
  .gitignore
  demos/react-native/App.tsx
  demos/react-native/index.ts
  demos/react-native/package-lock.json
  demos/react-native/package.json
  demos/react/src/App.tsx
  package-lock.json
  package.json
  playwright/playwright.config.ts
  playwright/tour.spec.ts
  xo.config.ts
Due: prettier --write

feat(#13): deploy to npm workflow
  .github/workflows/release.yml
Due: none

feat(#13): deploy to npm workflow (#19)
  .github/workflows/release.yml
Due: none

fix(#13): fix npm publish
  .github/workflows/release.yml
Due: none

fix(#13): fix npm publish (#20)
  .github/workflows/release.yml
Due: none

chore(#21): only publish on major deps updates
  renovate.json
Due: prettier --write

chore(#21): only publish on major deps updates (#24)
  renovate.json
Due: prettier --write

Path conditions:
  xo --fix: any of: src/**/*.{ts,tsx}
  prettier --write: (any of: src/**/*.{ts,tsx}) or (any of: *.{json,md})
