Repository robertlinde/react-tour-kit: changes, and which lint-staged commands are due for each by the changed paths.
All: xo --fix, prettier --write

.lintstagedrc:

{
  "src/**/*.{ts,tsx}": ["xo --fix", "prettier --write"],
  "*.{json,md}": ["prettier --write"]
}

fix: loosen peer dependency versions
  package-lock.json
  package.json
  renovate.json
Due: prettier --write

fix: loosen peer dependency versions (#26)
  package-lock.json
  package.json
  renovate.json
Due: prettier --write

chore(deps): update xo to v2
  demos/react/src/App.tsx
  package-lock.json
  package.json
  playwright/tour.spec.ts
  src/react-native-platform/tour-provider.tsx
  src/react-platform/platform-adapter.ts
  src/react-platform/tour-provider.tsx
  src/shared/context/tour-context.ts
  xo.config.ts
Due: xo --fix, prettier --write

chore(deps): update ts to v6
  demos/react-native/package.json
  demos/react/package.json
  package-lock.json
  package.json
Due: prettier --write

chore(deps): fix versions
  package-lock.json
  package.json
  renovate.json
Due: prettier --write

chore(deps): clean up package-lock file
  package-lock.json
Due: prettier --write

chore(deps): fix demo apps lock files
  demos/react-native/package-lock.json
  demos/react/package-lock.json
  package.json
Due: prettier --write

chore(deps): fix wrong version fields
  demos/react-native/package-lock.json
  demos/react-native/package.json
  demos/react/package-lock.json
  demos/react/package.json
Due: prettier --write

chore(deps): fix paths
  demos/react/src/App.tsx
  playwright/playwright.config.ts
  src/react-native-platform/types/tour-provider.props.type.ts
  src/react-platform/types/tour-provider.props.type.ts
  tsconfig.json
Due: xo --fix, prettier --write

chore(deps): fix lint problems
  demos/react-native/App.tsx
Due: none

ci(deps): fix e2e build
  .github/workflows/test.yml
Due: none

chore(deps): fix e2e and lint workflows
  .github/workflows/quality.yml
  .github/workflows/test.yml
Due: none

chore(deps): update dist build mode
  tsconfig.json
Due: prettier --write

chore(deps): switch to module
  demos/react-native/App.tsx
  demos/react/package-lock.json
  demos/react/src/App.tsx
  package.json
Due: prettier --write

chore(deps): fix lint problems
  demos/react-native/package-lock.json
  package-lock.json
Due: prettier --write

chore(deps): fix lock files
  demos/react-native/package-lock.json
  demos/react/package-lock.json
  package-lock.json
Due: prettier --write

chore(deps): fix lint problems
  demos/react/src/App.tsx
Due: none

chore(deps): update deps (#121)
  .github/workflows/quality.yml
  .github/workflows/test.yml
  demos/react-native/package-lock.json
  demos/react-native/package.json
  demos/react/package-lock.json
  demos/react/package.json
  demos/react/src/App.tsx
  package-lock.json
  package.json
  playwright/playwright.config.ts
  playwright/tour.spec.ts
  renovate.json
  src/react-native-platform/tour-provider.tsx
  src/react-native-platform/types/tour-provider.props.type.ts
  src/react-platform/platform-adapter.ts
  src/react-platform/tour-provider.tsx
  src/react-platform/types/tour-provider.props.type.ts
  src/shared/context/tour-context.ts
  tsconfig.json
  xo.config.ts
Due: xo --fix, prettier --write

fix(deps): force deployment
  demos/react/src/App.tsx
Due: none

fix(deps): force deployment (#122)
  demos/react/src/App.tsx
Due: none

fix(deps): version
  package.json
Due: prettier --write

fix(deps): version (#123)
  package.json
Due: prettier --write

fix(deps): clean up
  .github/workflows/quality.yml
  .github/workflows/test.yml
  demos/react-native/package-lock.json
  demos/react-native/package.json
  demos/react/package-lock.json
  demos/react/package.json
  demos/react/src/App.tsx
  package-lock.json
Due: prettier --write

fix(deps): clean up (#124)
  .github/workflows/quality.yml
  .github/workflows/test.yml
  demos/react-native/package-lock.json
  demos/react-native/package.json
  demos/react/package-lock.json
  demos/react/package.json
  demos/react/src/App.tsx
  package-lock.json
Due: prettier --write

feat: more tour end feedback
  README.md
  src/react-native-platform/tour-provider.tsx
  src/react-native-platform/types/tour-provider.props.type.ts
  src/react-native.ts
  src/react-platform/tour-provider.tsx
  src/react-platform/types/tour-provider.props.type.ts
  src/react.ts
  src/shared/index.ts
  src/shared/types/index.ts
  src/shared/types/tour-context.type.ts
  src/shared/types/tour-end-info.type.ts
Due: xo --fix, prettier --write

feat: more tour end feedback (#138)
  README.md
  src/react-native-platform/tour-provider.tsx
  src/react-native-platform/types/tour-provider.props.type.ts
  src/react-native.ts
  src/react-platform/tour-provider.tsx
  src/react-platform/types/tour-provider.props.type.ts
  src/react.ts
  src/shared/index.ts
  src/shared/types/index.ts
  src/shared/types/tour-context.type.ts
  src/shared/types/tour-end-info.type.ts
Due: xo --fix, prettier --write

fix: corner radius
  src/react-native-platform/components/tour-overlay.tsx
Due: xo --fix, prettier --write

fix: truncate dots
  src/react-native-platform/components/tour-tooltip.tsx
  src/react-platform/components/tour-tooltip.tsx
  src/shared/utils/get-truncated-dots.util.ts
  src/shared/utils/index.ts
  tsconfig.json
Due: xo --fix, prettier --write

fix: visual fixes (#142)
  src/react-native-platform/components/tour-overlay.tsx
  src/react-native-platform/components/tour-tooltip.tsx
  src/react-platform/components/tour-tooltip.tsx
  src/shared/utils/get-truncated-dots.util.ts
  src/shared/utils/index.ts
  tsconfig.json
Due: xo --fix, prettier --write

feat: make close on overlay click optional
  README.md
  package-lock.json
  src/react-native-platform/components/tour-overlay.tsx
  src/react-native-platform/tour-provider.tsx
  src/react-native-platform/types/tour-provider.props.type.ts
  src/react-platform/components/tour-overlay.tsx
  src/react-platform/tour-provider.tsx
  src/react-platform/types/tour-provider.props.type.ts
  src/shared/types/tour-overlay-props.type.ts
  src/shared/utils/calculate-tooltip-position.util.ts
  src/shared/utils/get-truncated-dots.util.ts
Due: xo --fix, prettier --write

feat: make close on overlay click optional (#144)
  README.md
  package-lock.json
  src/react-native-platform/components/tour-overlay.tsx
  src/react-native-platform/tour-provider.tsx
  src/react-native-platform/types/tour-provider.props.type.ts
  src/react-platform/components/tour-overlay.tsx
  src/react-platform/tour-provider.tsx
  src/react-platform/types/tour-provider.props.type.ts
  src/shared/types/tour-overlay-props.type.ts
  src/shared/utils/calculate-tooltip-position.util.ts
  src/shared/utils/get-truncated-dots.util.ts
Due: xo --fix, prettier --write

fix: tour placement
  src/react-native-platform/components/tour-tooltip.tsx
  src/react-native-platform/platform-adapter.ts
  src/react-native-platform/tour-provider.tsx
  src/shared/types/tour-tooltip-props.type.ts
Due: xo --fix, prettier --write

fix: tour placement (#153)
  src/react-native-platform/components/tour-tooltip.tsx
  src/react-native-platform/platform-adapter.ts
  src/react-native-platform/tour-provider.tsx
  src/shared/types/tour-tooltip-props.type.ts
Due: xo --fix, prettier --write

fix: jumping tour
  src/react-native-platform/tour-provider.tsx
Due: xo --fix, prettier --write

fix: jumping tour (#155)
  src/react-native-platform/tour-provider.tsx
Due: xo --fix, prettier --write

fix: hide and show on transition
  src/react-native-platform/tour-provider.tsx
Due: xo --fix, prettier --write

fix: hide and show on transition (#156)
  src/react-native-platform/tour-provider.tsx
Due: xo --fix, prettier --write

feat: expose target ref in onBeforeStep
  README.md
  src/react-native-platform/tour-provider.tsx
  src/react-platform/tour-provider.tsx
  src/shared/types/tour-step.type.ts
Due: xo --fix, prettier --write

feat: expose target ref in onBeforeStep (#158)
  README.md
  src/react-native-platform/tour-provider.tsx
  src/react-platform/tour-provider.tsx
  src/shared/types/tour-step.type.ts
Due: xo --fix, prettier --write

chore: update demos for target param in callback
  demos/react-native/App.tsx
  demos/react-native/package-lock.json
  demos/react-native/package.json
  demos/react/package-lock.json
  demos/react/package.json
  demos/react/src/App.tsx
  package-lock.json
Due: prettier --write
