Repository robertlinde/react-tour-kit: changes, and which lint-staged commands are due for each by the changed paths.
All: xo --fix, prettier --write

.lintstagedrc:

{
  "src/**/*.{ts,tsx}": ["xo --fix", "prettier --write"],
  "*.{json,md}": ["prettier --write"]
}

chore: use polling
  demos/react/src/App.tsx
Due: none

chore: update demos for target param in callback (#159)
  demos/react-native/App.tsx
  demos/react-native/package-lock.json
  demos/react/package-lock.json
  demos/react/src/App.tsx
  package-lock.json
Due: prettier --write

fix: highlight corners on rn
  README.md
  demos/react-native/package-lock.json
  demos/react-native/package.json
  package-lock.json
  package.json
  src/react-native-platform/components/tour-overlay.tsx
Due: xo --fix, prettier --write

fix: highlight corners on rn (#190)
  README.md
  demos/react-native/package-lock.json
  demos/react-native/package.json
  package-lock.json
  package.json
  src/react-native-platform/components/tour-overlay.tsx
Due: xo --fix, prettier --write

fix: export getTruncatedDots and dot layout constants from public entries
  src/react-native.ts
  src/react.ts
  src/shared/index.ts
Due: xo --fix, prettier --write

fix: export getTruncatedDots and dot layout constants (#330)
  src/react-native.ts
  src/react.ts
  src/shared/index.ts
Due: xo --fix, prettier --write
